class Create<%= table_name.camelize %> < ActiveRecord::Migration[5.0]
  def change
    create_table(:<%= table_name %>) do |t|
      t.string :code
      t.string :addr
      t.string :exist
      t.timestamps

      t.index :code, unique: true
      t.index :addr
      t.index :exist
    end
  end
end
